/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  background: #000;
  font-family: "Source Code Pro", Consolas, monospace;
  color: #fff;
  overflow-x: hidden;
}
